---
import type { GetStaticPaths, InferGetStaticPropsType } from 'astro';

import Headline from '@/components/ui/Headline.astro';
import Hero from '@/components/widgets/Hero.astro';
import ProjectList from '@/components/widgets/ProjectList.astro';
import Layout from '@/layouts/PageLayout.astro';
import { findImage } from '@/utils/images';
import { getStaticPathsProjectList, projectListRobots } from '@/utils/project';

export const prerender = true;

export const getStaticPaths = (async ({ paginate }) => {
  return await getStaticPathsProjectList({ paginate });
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { page } = Astro.props;
const currentPage = page.currentPage ?? 1;

// const allCategories = await findCategories();
// const allTags = await findTags();

const images = [
  {
    src: (await findImage('@/assets/images/hero-5.png')) as string,
    alt: 'Projects',
  },
];

const metadata = {
  title: `Project${currentPage > 1 ? ` — Page ${currentPage}` : ''}`,
  robots: {
    index: projectListRobots?.index && currentPage === 1,
    follow: projectListRobots?.follow,
  },
  openGraph: {
    type: 'blog',
  },
};
---

<Layout metadata={metadata}>
  <Hero slot="hero" images={images} imageClassName="h-[60vh]">
    <Fragment slot="overlay">
      <div class="pointer-events-none absolute inset-0 bg-gradient-to-r from-background"></div>
    </Fragment>
  </Hero>
  <section class="layout my-8 space-y-8 lg:my-16">
    <Headline title="Our Projects" className="mx-0" />

    {page.data.map((project, index) => <ProjectList project={project} reversed={index % 2 === 0} />)}
  </section>
</Layout>
