---
import Layout from '@/layouts/PageLayout.astro';
import Hero from '@/components/widgets/Hero.astro';
import Headline from '@/components/ui/Headline.astro';

const metadata = {
    ignoreTitleTemplate: true,
};
---
<Layout metadata={metadata}>
    <Hero slot="hero" images={[{ src: '@/assets/images/hero.png', alt: 'Our Services' }]} imageClassName="h-[60vh]" dotsClassName="bottom-4"/>
    <section class="layout my-8 space-y-8 lg:my-16">
        <Headline title="Perencanaan Konstruksi" className="mx-0" />
        <div class="flex flex-row">
            <div class="flex flex-1 flex-col gap-2">
                <h4 class="capitalize">Ruang Lingkup</h4>
                <div class="pl-4">
                    <li>Masterplan Design</li>
                    <li>Perencanaan Desain Arsitektural dan Perancangan Struktur</li>
                    <li>Perhitungan Rencana Anggaran Biaya dan Biaya Komersil</li>
                    <li>Detail Enginering Design (DED) dan Spesifikasi Teknis</li>
                    <li>Manajemen Proyek Konstruksi</li>
                    <li>Structure Assesment</li>
                </div>
            </div>
            <div class="flex flex-1 flex-col gap-2">
                <h4 class="capitalize">Design</h4>
                <div class="flex flex-wrap gap-4">
                    <div class="flex items-center gap-2 rounded-lg border border-foreground px-4 py-2">
                        <div class="size-2 rounded-full bg-primary" />
                        <p class="">Commercial Buildings</p>
                    </div>
                    <div class="flex items-center gap-2 rounded-lg border border-foreground px-4 py-2">
                        <div class="size-2 rounded-full bg-primary" />
                        <p class="">Road and Bridge</p>
                    </div>
                    <div class="flex items-center gap-2 rounded-lg border border-foreground px-4 py-2">
                        <div class="size-2 rounded-full bg-primary" />
                        <p class="">Port, Airport, Industry Facility</p>
                    </div>
                    <div class="flex items-center gap-2 rounded-lg border border-foreground px-4 py-2">
                        <div class="size-2 rounded-full bg-primary" />
                        <p class="">Soil Improvement</p>
                    </div>
                </div>
            </div>
        </div>

        <Headline title="Other Services" className="mx-0" />
    </section>
</Layout>