---
import Carousel, { type CarouselProps } from '@/components/ui/Carousel.astro';

type Props = CarouselProps;

const { images, imageClassName, dotsClassName } = Astro.props;
---

<div class="relative">
  <Carousel images={images} imageClassName={imageClassName} dotsClassName={dotsClassName} />
  <slot name="overlay" />
  <slot />
</div>
