---
import Carousel from '@/components/ui/Carousel.astro';
import type { Image } from '@/types';
import { cn } from '@/utils/utils';

type Props = {
  images: Image[];
  imageClassName?: astroHTML.JSX.HTMLAttributes['class'];
};

const { images, imageClassName } = Astro.props;
---

<div class="relative">
  <Carousel images={images} imageClassName={imageClassName} />
  <slot name="overlay" />
  <slot />
</div>
