---
import Image from '@/components/common/Image.astro';
---

<section
  class="not-prose layout -mt-24 flex flex-col items-center justify-between rounded-lg bg-primary text-broken-white md:flex-row lg:gap-14"
>
  <Image
    src="@/assets/images/note.png"
    alt="Note"
    class="md:clip-polygon md:h h-32 md:h-44 md:!w-min md:!object-cover lg:h-48"
  />
  <div class="p-4">
    <h4>PT Swakarya Mandiri Amerta</h4>
    <h4 class="font-normal">
      Perusahaan konsultan spesialis yang bergerak di bidang Planning, Engineering, dan Grand Design bertaraf
      internasional yang berkualitas, terpercaya, dan menjamin kepuasan pengguna jasa.
    </h4>
  </div>
</section>
