---
import Image from '@/components/common/Image.astro';
import WidgetWrapper from '@/components/ui/WidgetWrapper.astro';
import { type Project } from '@/types';
import { getPermalink } from '@/utils/permalinks';
import { cn } from '@/utils/utils';

type Props = {
  projects: Project[];
  className?: string;
};

const { projects, className } = Astro.props;
---

<!-- scrollable on x-axis -->
<WidgetWrapper containerClass={cn("overflow-x-auto flex flex-row w-full layout snap-mandatory snap-x gap-6 !px-0", className)}>
  {
    projects.map((project) => (
      <a class="max-w-lg shrink-0 snap-start scroll-mx-6 space-y-6" href={getPermalink(project.permalink, 'project')}>
        <Image src={project.images[0]} alt={project.title} class="aspect-video h-64 max-w-md rounded-lg" />
        <h4>{project.title}</h4>
        <div class="line-clamp-3">
          <project.Content />
        </div>
        <div class="flex flex-wrap gap-4">
          {Object.entries(project.spesifications)
            .filter(([key]) => key !== 'client')
            .map(([, value]) => (
              <div class="flex items-center gap-2 rounded-lg border border-foreground px-4 py-2">
                <div class="size-2 rounded-full bg-primary" />
                <p class="">{value}</p>
              </div>
            ))}
        </div>
      </a>
    ))
  }
</WidgetWrapper>
