---
import Layout from '@/layouts/PageLayout.astro';

import Headline from '@/components/ui/Headline.astro';
import ContactDialog from '@/components/widgets/ContactDialog';
import Hero from '@/components/widgets/Hero.astro';
import Note from '@/components/widgets/Note.astro';
import ProjectsShowcase from '@/components/widgets/ProjectsShowcase.astro';
import Service from '@/components/widgets/Service.astro';
import { findLatestPosts } from '@/utils/project';

const metadata = {
  ignoreTitleTemplate: true,
};

const latestProject = await findLatestPosts({
  count: 4,
});
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    slot="hero"
    images={[
      { src: '@/assets/images/hero.png', alt: 'Hero Image 1' },
      { src: '@/assets/images/hero-2.png', alt: 'Hero Image 2' },
      { src: '@/assets/images/hero-3.png', alt: 'Hero Image 3' },
    ]}
  >
    <Fragment slot="overlay">
      <div class="pointer-events-none absolute inset-0 bg-gradient-to-r from-background"></div>
    </Fragment>

    <div class="absolute left-[8.3%] top-1/3 flex flex-col items-start gap-14">
      <h1 class="font-hero text-6xl md:text-8xl md:leading-[75px]">
        Hello, <br />
        <span class="text-3xl md:text-5xl">Smart People!</span>
      </h1>

      <ContactDialog client:load title="Contact Us" />
    </div>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Services Widget *************** -->

  <Headline title="Our Services" className="mt-24" />
  <Service
    reversed
    title="Perencanaan Konstruksi"
    images={[
      { src: '@/assets/images/hero.png', alt: 'Service Image 1' },
      // { src: '@/assets/images/hero-2.png', alt: 'Service Image 2' },
      // { src: '@/assets/images/hero-3.png', alt: 'Service Image 3' },
    ]}
    contents={[
      {
        heading: 'Ruang Lingkup',
        type: 'list',
        point: [
          'Masterplan Design',
          'Perencanaan Desain Arsitektural dan Perancangan Struktur',
          'Perhitungan Rencana Anggaran Biaya dan Biaya Komersil',
          'Detail Engineering Design (DED) dan Spesifikasi Teknis',
          'Manajemen Proyek Konstruksi',
          'Structure Assesment',
        ],
      },
      {
        heading: 'Design',
        type: 'label',
        point: [
          'Commercial Buildings',
          'Perencanaan Desain Road and Bridge',
          'Port, Airport, Industry Facility',
          'Soil Improvement',
        ],
      },
    ]}
  />

  <Service
    title="Perencanaan Tata Ruang"
    images={[
      { src: '@/assets/images/hero.png', alt: 'Service Image 1' },
      // { src: '@/assets/images/hero-2.png', alt: 'Service Image 2' },
      // { src: '@/assets/images/hero-3.png', alt: 'Service Image 3' },
    ]}
    contents={[
      {
        heading: 'Ruang Lingkup',
        type: 'list',
        point: [
          'Penyusunan Rencana Umum Tata Ruang yaitu Rencana Tata Ruang Wilayah (RTRW)',
          'Penyusunan Rencana Rinci Tata Ruang meliputi Rencana Detail Tata Ruang (RDTR), Rencana Tata Bangungan dan Lingkungan (RTBL), Rencana Tata Ruang Pulau/Kepulauan, Rencana Tata Ruang Kawasan Strategis (RTRKS), dan Rencana Rinci lain',
          'Penyusunan dokumen perencanaan periodik meliputi Rencana Pembangunan Jangka Panjang (RPJP) Pembangunan Jangka Menengah (RPJM)',
        ],
      },
    ]}
  />

  <Service
    reversed
    title="Standar Harga dan RKBMD"
    images={[
      { src: '@/assets/images/hero.png', alt: 'Service Image 1' },
      // { src: '@/assets/images/hero-2.png', alt: 'Service Image 2' },
      // { src: '@/assets/images/hero-3.png', alt: 'Service Image 3' },
    ]}
    contents={[
      {
        heading: 'Ruang Lingkup',
        type: 'list',
        point: [
          'Penyusunan Manajemen Risiko (SOP)',
          'Penyusunan standarisasi komponen dan standarisasi harga',
          'Simulasi implementasi standar harga fisik konstruksi',
          'Penyusunan Rencana Kebutuhan Barang Milik Daerah',
          'Penyusunan kebijakan Peraturan Daerah mengenai Standar Harga Satuan dan Standar Kebutuhan Barang Milik Daerah',
        ],
      },
      {
        heading: 'Design',
        type: 'label',
        point: ['SSH & SBU', 'HSPPK', 'ASB Fisik dan Non Fisik', 'SKBMD'],
      },
    ]}
  />

  <Service
    title="Analisa Dampak Ruang"
    images={[
      { src: '@/assets/images/hero.png', alt: 'Service Image 1' },
      // { src: '@/assets/images/hero-2.png', alt: 'Service Image 2' },
      // { src: '@/assets/images/hero-3.png', alt: 'Service Image 3' },
    ]}
    contents={[
      {
        heading: 'Ruang Lingkup',
        type: 'list',
        point: [
          'Penyusunan Kajian Lingkungan Hidup Strategis (KLHS)',
          'Penyusunan Dokumen Analisis Dampak Lingkungan (AMDAL)',
          'Penyunan Upaya Pengelolaan Lingkungan dan Upaya Pemantauan Lingkungan (UKL/UPL)',
          'Surat Pernyataan Kesanggupan Pengelolaan dan Pemantauan Lingkungan Hidup (SPPL)',
        ],
      },
    ]}
  />

  <!-- Projects Widget *************** -->

  <Headline title="Our Projects" />
  <ProjectsShowcase projects={latestProject} />
</Layout>
