---
import Layout from '@/layouts/PageLayout.astro';

import Headline from '@/components/ui/Headline.astro';
import Hero from '@/components/widgets/Hero.astro';
import Service from '@/components/widgets/Service.astro';

const metadata = {
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    slot="hero"
    images={[{ src: '@/assets/images/hero-6.png', alt: 'Our Services' }]}
    imageClassName="h-[60vh]"
    dotsClassName="bottom-4"
  >
    <Fragment slot="overlay">
      <div class="pointer-events-none absolute inset-0 bg-gradient-to-r from-background"></div>
    </Fragment>
  </Hero>
  <section class="layout my-8 space-y-8 lg:my-16">
    <!-- Services Widget *************** -->

    <Headline title="Our Services" className="mx-0" />
    <Service
      reversed
      className="!pt-0"
      title="Perencanaan Konstruksi"
      images={[
        { src: '@/assets/images/hero.png', alt: 'Service Image 1' },
        // { src: '@/assets/images/hero-2.png', alt: 'Service Image 2' },
        // { src: '@/assets/images/hero-3.png', alt: 'Service Image 3' },
      ]}
      contents={[
        {
          heading: 'Ruang Lingkup',
          type: 'list',
          point: [
            'Masterplan Design',
            'Perencanaan Desain Arsitektural dan Perancangan Struktur',
            'Perhitungan Rencana Anggaran Biaya dan Biaya Komersil',
            'Detail Engineering Design (DED) dan Spesifikasi Teknis',
            'Manajemen Proyek Konstruksi',
            'Structure Assesment',
          ],
        },
        {
          heading: 'Design',
          type: 'label',
          point: [
            'Commercial Buildings',
            'Perencanaan Desain Road and Bridge',
            'Port, Airport, Industry Facility',
            'Soil Improvement',
          ],
        },
      ]}
    />

    <Service
      title="Perencanaan Tata Ruang"
      images={[
        { src: '@/assets/images/hero.png', alt: 'Service Image 1' },
        // { src: '@/assets/images/hero-2.png', alt: 'Service Image 2' },
        // { src: '@/assets/images/hero-3.png', alt: 'Service Image 3' },
      ]}
      contents={[
        {
          heading: 'Ruang Lingkup',
          type: 'list',
          point: [
            'Penyusunan Rencana Umum Tata Ruang yaitu Rencana Tata Ruang Wilayah (RTRW)',
            'Penyusunan Rencana Rinci Tata Ruang meliputi Rencana Detail Tata Ruang (RDTR), Rencana Tata Bangungan dan Lingkungan (RTBL), Rencana Tata Ruang Pulau/Kepulauan, Rencana Tata Ruang Kawasan Strategis (RTRKS), dan Rencana Rinci lain',
            'Penyusunan dokumen perencanaan periodik meliputi Rencana Pembangunan Jangka Panjang (RPJP) Pembangunan Jangka Menengah (RPJM)',
          ],
        },
      ]}
    />

    <Service
      reversed
      title="Standar Harga dan RKBMD"
      images={[
        { src: '@/assets/images/hero.png', alt: 'Service Image 1' },
        // { src: '@/assets/images/hero-2.png', alt: 'Service Image 2' },
        // { src: '@/assets/images/hero-3.png', alt: 'Service Image 3' },
      ]}
      contents={[
        {
          heading: 'Ruang Lingkup',
          type: 'list',
          point: [
            'Penyusunan Manajemen Risiko (SOP)',
            'Penyusunan standarisasi komponen dan standarisasi harga',
            'Simulasi implementasi standar harga fisik konstruksi',
            'Penyusunan Rencana Kebutuhan Barang Milik Daerah',
            'Penyusunan kebijakan Peraturan Daerah mengenai Standar Harga Satuan dan Standar Kebutuhan Barang Milik Daerah',
          ],
        },
        {
          heading: 'Design',
          type: 'label',
          point: ['SSH & SBU', 'HSPPK', 'ASB Fisik dan Non Fisik', 'SKBMD'],
        },
      ]}
    />

    <Service
      title="Analisa Dampak Ruang"
      images={[
        { src: '@/assets/images/hero.png', alt: 'Service Image 1' },
        // { src: '@/assets/images/hero-2.png', alt: 'Service Image 2' },
        // { src: '@/assets/images/hero-3.png', alt: 'Service Image 3' },
      ]}
      contents={[
        {
          heading: 'Ruang Lingkup',
          type: 'list',
          point: [
            'Penyusunan Kajian Lingkungan Hidup Strategis (KLHS)',
            'Penyusunan Dokumen Analisis Dampak Lingkungan (AMDAL)',
            'Penyunan Upaya Pengelolaan Lingkungan dan Upaya Pemantauan Lingkungan (UKL/UPL)',
            'Surat Pernyataan Kesanggupan Pengelolaan dan Pemantauan Lingkungan Hidup (SPPL)',
          ],
        },
      ]}
    />
  </section>
</Layout>
