---
import { SITE } from 'astrowind:config';
import Image from '@/components/common/Image.astro';
import { findImage } from '@/utils/images';

const image = await findImage('@/assets/images/logo.png');
---

<div class="flex-row flex items-center">
  <Image src={image} alt="Samarta Logo" class='size-16 2xl:size-14' aspectRatio="1:1" />
  <span class="text-xl md:hidden lg:block md:text-2xl font-bold font-logo text-gray-900 whitespace-nowrap dark:text-white uppercase">
    {SITE?.name}
  </span>
</div>
