---
import { Icon } from 'astro-icon/components';

import { UI } from 'astrowind:config';

export interface Props {
  label?: string;
  class?: string;
  iconClass?: string;
}

const {
  label = 'Toggle between Dark and Light mode',
  class:
    className = 'text-broken-white rounded-full text-sm px-4 py-2 inline-flex items-center hover:bg-primary/20 dark:hover:bg-primary/20 transition ease-in duration-200',
  iconClass = 'w-6 h-6',
} = Astro.props;
---

{
  !(UI.theme && UI.theme.endsWith(':only')) && (
    <div class="gap-2 flex">
      <button
        type="button"
        class:list={[className, 'bg-primary dark:bg-transparent']}
        aria-label={label}
        data-apply-light-theme
      >
        <Icon name="tabler:sun-filled" class={iconClass} />
      </button>
      <button type="button" class:list={[className, 'dark:bg-primary']} aria-label={label} data-apply-dark-theme>
        <Icon name="tabler:moon-filled" class={iconClass} />
      </button>
    </div>
  )
}
