---
import Image from '@/components/common/Image.astro';
import type { Image as ImageType } from '@/types';

type Props = {
  images?: ImageType[];
};

const { images } = Astro.props;
console.log(images);
---

<div class="lg:absolute lg:bottom-0">
    <div class="max-w-lg mx-auto relative">

        <input id="article-01" type="radio" name="slider" class="sr-only peer/01">
        <input id="article-02" type="radio" name="slider" class="sr-only peer/02" checked>
        <input id="article-03" type="radio" name="slider" class="sr-only peer/03">

        <div class="
            absolute inset-0 scale-[67.5%] z-20 transition-all duration-500 ease-[cubic-bezier(0.25,1,0.5,1)]
            peer-focus-visible/01:[&_article]:ring
            peer-focus-visible/01:[&_article]:ring-indigo-300
            peer-checked/01:relative
            peer-checked/01:z-50
            peer-checked/01:translate-x-0
            peer-checked/01:scale-100
            peer-checked/01:[&>label]:pointer-events-none
            peer-checked/02:-translate-x-20
            peer-checked/02:scale-[83.75%]
            peer-checked/02:z-40
            peer-checked/03:-translate-x-40
            peer-checked/03:z-30
        ">
            <label class="absolute inset-0" for="article-01"><span class="sr-only">Focus on the big picture</span></label>
            {images && images.map((image) => <Image class="!aspect-[2/3] !max-w-72 !object-cover rounded-lg shadow-2xl" {...image} />)}
        </div>

        <div class="
            absolute inset-0 scale-[67.5%] z-20 transition-all duration-500 ease-[cubic-bezier(0.25,1,0.5,1)]
            peer-focus-visible/02:[&_article]:ring
            peer-focus-visible/02:[&_article]:ring-indigo-300                        
            peer-checked/01:translate-x-20
            peer-checked/01:scale-[83.75%]
            peer-checked/01:z-40
            peer-checked/02:relative
            peer-checked/02:z-50
            peer-checked/02:translate-x-0
            peer-checked/02:scale-100
            peer-checked/02:[&>label]:pointer-events-none
            peer-checked/03:-translate-x-20
            peer-checked/03:scale-[83.75%]
            peer-checked/03:z-40
        ">
            <label class="absolute inset-0" for="article-02"><span class="sr-only">Focus on the big picture</span></label>
            {images && images.map((image) => <Image class="!aspect-[2/3] !max-w-72 !object-cover rounded-lg shadow-2xl" {...image} />)}
        </div>

        <div class="
            absolute inset-0 scale-[67.5%] z-20 transition-all duration-500 ease-[cubic-bezier(0.25,1,0.5,1)]
            peer-focus-visible/03:[&_article]:ring
            peer-focus-visible/03:[&_article]:ring-indigo-300                          
            peer-checked/01:translate-x-40
            peer-checked/01:z-30
            peer-checked/02:translate-x-20
            peer-checked/02:scale-[83.75%]
            peer-checked/02:z-40
            peer-checked/03:relative
            peer-checked/03:z-50
            peer-checked/03:translate-x-0
            peer-checked/03:scale-100
            peer-checked/03:[&>label]:pointer-events-none
        ">
            <label class="absolute inset-0" for="article-03"><span class="sr-only">Focus on the big picture</span></label>
            {images && images.map((image) => <Image class="!aspect-[2/3] !max-w-72 !object-cover rounded-lg shadow-2xl" {...image} />)}
        </div>
  <!-- {images && images.map((image) => <Image class="!aspect-[2/3] !max-w-72 !object-cover" {...image} />)} -->
</div>
